@font-face {
  font-family: 'MaisonNeueRegular';
  src: url("fonts/MaisonNeue-Book.woff2") format('woff2');
}

.mainpage{
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_header {
  font-family: 'MaisonNeueRegular';
  font-size: 40px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #414141c7;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav_links{
  font-family: 'MaisonNeueRegular';
  color: rgb(70, 70, 70);
}

.sidenav_icon{
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  background-color: transparent; 
  display: grid;
}


.sidenav_iconbars{
  grid-area: 1 / 1;
  color: transparent;
}

.sidenav_iconbar {
  width: 35px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.829);
  margin: 5px 0;
  border-radius: 30%;
}

.topsection_mainpage{
  background-image: url("images/background.jpeg");
  position:absolute;
  top:0px;
  left:0px;
  height:70%;
  width:100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-width: 1000px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}